/*
 * source: http://practicaltypography.com/styles.css
 */

/* ===============================
   Font Sizing
   ===============================
   Target size (px)     Percentage
   10                   62.5
   11                   68.75
   12                   75
   13                   81.25
   14                   87.5
   15                   93.75
   16                   100
   17                   106.25
   18                   112.5
   19                   118.75
   20                   125
   21                   131.25
   22                   137.5
   23                   143.75
   24                   150
   25                   156.25
   26                   162.5
   =============================== */

@media all {html {font-size: 24px;}}
@media all and (max-width: 1000px){ html {font-size: 24px;} }
@media all and (max-width:  960px){ html {font-size: 23px;} }
@media all and (max-width:  920px){ html {font-size: 22px;} }
@media all and (max-width:  880px){ html {font-size: 21px;} }
@media all and (max-width:  840px){ html {font-size: 20px;} }
@media all and (max-width:  800px){ html {font-size: 19px;} }
@media all and (max-width:  760px){ html {font-size: 18px;} }
@media all and (max-width:  720px){ html {font-size: 17px;} }
@media all and (max-width:  680px){ html {font-size: 16px;} }
@media all and (max-width:  640px){ html {font-size: 15px;} }
@media all and (max-width:  600px){ html {font-size: 14px;} }
@media all and (max-width:  560px){ html {font-size: 13px;} }
@media all and (max-width:  520px){ html {font-size: 12px;} }


html {
  height: 100%;
}

body {
  padding: 0rem 0em 0rem 0em;
  font-family: "equity-text";
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-width:1000px;
  min-width:520px;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern' 1;
     -moz-font-feature-settings: 'kern' 1;
      -ms-font-feature-settings: 'kern' 1;
       -o-font-feature-settings: 'kern' 1;
          font-feature-settings: 'kern' 1;

  -webkit-font-feature-settings: 'liga' 1;
     -moz-font-feature-settings: 'liga' 1;
      -ms-font-feature-settings: 'liga' 1;
       -o-font-feature-settings: 'liga' 1;
          font-feature-settings: 'liga' 1;

  position: relative;
}


body > * {
  font-size: 100%;
  margin-left: 11.5rem;
  margin-right: 2.5rem;
}

#content {
  display: block; padding: 3rem 0 10rem 0;
}


h2 {
  display: block;
  font-family: "concourse-t7";
  font-size: 200%;
  line-height: 1.1;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.1em solid black;
  padding-top: 0.0em;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
       -o-hyphens: none;
          hyphens: none;

  .small {
    border-top: 0.05em solid gray;
    font-size: 180%;
  }

  & + p:first-line {
    font-weight: bolder;
    font-family: "equity-caps";
    text-transform: lowercase;
    -webkit-font-feature-settings: 'c2sc' 1;
       -moz-font-feature-settings: 'c2sc' 1;
        -ms-font-feature-settings: 'c2sc' 1;
         -o-font-feature-settings: 'c2sc' 1;
            font-feature-settings: 'c2sc' 1;
  }
}

h3 {
  font-family: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-size: 120%;
  line-height: 1.10;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  font-weight: bolder;
  border-top: 0;
  padding-top: 0;
}

section > hgroup {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: 7rem;
  text-align: right;
  clear:both;

  margin-bottom: 2em;
  border-top: solid 2px black;
  padding-top: 6px;

  h4 {
    font-weight: inherit;
    margin: 0;
    font-size: 100%;
    line-height: 1.25;
    font-style: italic;
    -webkit-hyphens: none;
      -moz-hyphens: none;
        -ms-hyphens: none;
        -o-hyphens: none;
            hyphens: none;
  }
}


aside {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: 7rem;
  text-align: right;
  list-style-type: none;
  clear:both;
  margin-bottom: 1rem;
}


.sig {
  display: block;
  font-family: "equity-caps";
  text-align: right;
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;

  margin-bottom: 5em;
  margin-right: 0.5rem;
}



aside {
  font-family: "concourse-t3";
  font-size: 0.85rem;
  line-height: 1.40;
  color: #667;
}





li {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
       -o-column-break-inside: avoid;
          column-break-inside: avoid;
  -webkit-break-inside: avoid-column;
     -moz-break-inside: avoid-column;
      -ms-break-inside: avoid-column;
       -o-break-inside: avoid-column;
          break-inside: avoid-column;
}

p, li {
  margin-bottom: 1em;
  line-height: 1.35;
}

.indented, .book-description {
  display: block;
  margin-bottom: 1em;
  line-height: 1.35;
  margin-left: 2.5rem;
}

ol li {
  margin-left: 2.5rem; padding-left: 0rem;
  list-style-position: outside;
  font-family: "concourse-t3-index";
  -webkit-font-feature-settings: 'liga' 1, 'ss01' 0;
     -moz-font-feature-settings: 'liga=1', 'ss01=0';
     -moz-font-feature-settings: 'liga' 1, 'ss01' 0;
      -ms-font-feature-settings: 'liga' 1, 'ss01' 0;
       -o-font-feature-settings: 'liga' 1, 'ss01' 0;
          font-feature-settings: 'liga' 1, 'ss01' 0;
}

ul.children {
  font-size: 90%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
      -ms-column-count: 2;
       -o-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
     -ms-column-gap: 2.5rem;
      -o-column-gap: 2.5rem;
         column-gap: 2.5rem;
  list-style-type: none;
}

ul.children li {
  margin-bottom: 0;
  padding-bottom: 1em;
}




aside phrase {
font-weight: bolder;
font-style: normal;
}

aside p+p {
margin-top: 1em;
}

aside em{
font-weight: bolder;
font-style: normal;
letter-spacing: 0px;
}

aside img {
    margin-bottom: 0.25em;
}

run-in {
text-transform: lowercase;
padding-right: 0.4em;
font-family: "concourse-c4";
}


glyph {
margin-left: 0.2em;
margin-right: 0.2em;
position: relative;
bottom: -0.0em;
font-weight: bolder;
}

glyph.straight-quote-glyph {
font-family: "concourse-t3";
}


table { margin-bottom: 1.5em;
border-collapse: collapse;
width: 95%;
}

table.shortcut {
font-size: 90%;
}

table tr + tr {
border-top: 1px solid #ccc;
}
table td + td {
border-left: 1px solid #ccc;
}


table td {
padding: 0.4em;
text-align: center;
-moz-hyphens: none;
-webkit-hyphens: none;
-o-hyphens: none;
-ms-hyphens: none;
hyphens: none;

}

table th {
font-family: "concourse-c4";
font-weight: normal;
text-transform: lowercase;
font-size: 95%;
padding: 0.3rem 0.5rem 0.3rem 0.5rem;
line-height: 1.05;
}

table.shortcut glyph {
    font-size: 180%;
    line-height: .70;
    top: 0.0rem;
}


.instruction {
    font-family: "concourse-t3";
    font-style: italic;
}

.instruction glyph {
    font-style: normal;
    font-weight: normal;
}


p.example {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p.example + p.example {
    margin-top: 0rem;
}


table.example {
    width: auto;
    margin-left: 2.5rem;
    margin-bottom: 1.2rem;
    border-collapse: collapse;
}


table.example tr + tr {
    border-top: 0;
}

table.example td {
    text-align: left;
    vertical-align: baseline;
    padding: 0.4rem 1rem 0.4rem 0;
}

table.example td + td {
    border-left: 0px solid #ccc; }


example-text { margin-left: 0rem;
    white-space: nowrap;
    font-family: "concourse-t2";
}

example-text strong {
    font-family: "concourse-t3";
    font-weight: bolder;
}

example-caption {
    font-family: "concourse-c4";
    text-transform: lowercase;
    margin-left: 0.5rem;
    font-size: 90%;
}

spacing-sample {
    display: block;
    margin-left: 2rem;
}

img {
width: 100%;
}

image-caption {
display: block;
font-family: "concourse-c4";
text-transform: lowercase;
}

.howto, .font-details, .reader-note {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #fcfcfc;
  background: -moz-radial-gradient(top, #ffffff 17%, #fcfcfc 100%);
  background: -webkit-radial-gradient(top, #ffffff 17%, #fcfcfc 100%);
  background: -o-radial-gradient(top, #ffffff 17%, #fcfcfc 100%);
  background: -ms-radial-gradient(top, #ffffff 17%, #fcfcfc 100%);
  background: radial-gradient(top, #ffffff 17%, #fcfcfc 100%);

  padding: 1rem 1rem 0.5rem 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.howto > p {
font-family: "concourse-t3";
font-size: 90%;
}



.subhead, .howto-name {
  font-family: "equity-caps";
  text-transform: lowercase;
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc=1';
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;

  display: block;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}

.subhead {
  margin-bottom: 0.4rem;
  margin-top: 1.4rem;
}



/* ==========================================================================
   By the way (ex: http://practicaltypography.com/font-basics.html)
   ========================================================================== */
.btw {
  display:block;
  margin-top: 2em;
}

.btw-title {
  display: block;
  text-align: center;
  font-family: "concourse-t3";
  font-size: 80%;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'case' 1;
     -moz-font-feature-settings: 'case=1';
     -moz-font-feature-settings: 'case' 1;
      -ms-font-feature-settings: 'case' 1;
       -o-font-feature-settings: 'case' 1;
          font-feature-settings: 'case' 1;

  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 1em;
  padding-bottom: 0.6em;
  border-bottom: 4px double #ccc;
  margin-left: 25%;
  margin-right: 25%;
}

.btw li {
  margin-left: 1.35rem;
  margin-bottom: 0.7em;
  padding-left: 1.15rem;
  font-size: 95%;
}

.btw table.example {
  margin-left: 0;
}



task {
  display:block;
  margin-left: 2rem;
  margin-bottom: 1rem;
  line-height: 1.40;
}

task li {
  margin-bottom: 0.7em;
  font-size: 90%;
  font-family: "concourse-t3";
}


/* ==========================================================================
   How To (ex: http://practicaltypography.com/font-basics.html)
   ========================================================================== */
.howto > p {
  font-style: italic;
  margin-left: 1.5rem;
}

program {
  display: inline;
  font-family: "concourse-c4";
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc=1';
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;
}

program:after {
  content: " | ";
  font-family: "concourse-t2";
}

ui {
  font-style: normal;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
       -o-hyphens: none;
          hyphens: none;
}

ui:before {
  content: "‹";
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

ui:after {
  content: "›";
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}



/* ==========================================================================
   Links
   ========================================================================== */
a {
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc=1';
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;

  font-family: "equity-caps";
  font-style: normal;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
       -o-hyphens: none;
          hyphens: none;
}

a:active {
  color: #777;
}

a.outbound:before {
  content: "◊ ";
  color: #944;
  font-weight: normal;
  font-family: concourse-t3;
}

a[name]:before{
  content: none;
}

a.no-symbol-before:before {
  content: none;
}



div > a:before,
a.xref:before,
a.sample-document:before {
  content: none;
}

a.xref {
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc=1';
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;

  font-family: "equity-caps";
  font-style: normal;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
       -o-hyphens: none;
          hyphens: none;
}

a:hover {
  text-decoration: underline;
}

a img{
  border: 1px solid gray;
}

a:hover img {
  outline: 1px solid gray;
}

a.sample-document img {
  margin-top: 1rem;
}

/* ==========================================================================
   FAQs
   ========================================================================== */
p.faq-question {
  font-style: italic;
  margin-bottom: 0.2em;
}

p.faq-answer {
  margin-left: 2em;
  margin-bottom: 1em;
  display:block;
}

p.faq-answer-source {
  display:block;
  margin-left: 2em;
  margin-bottom: 1em;
  position: relative;
  top: -0.5em;
}

/* ==========================================================================
   font list (ex: http://practicaltypography.com/system-fonts.html)
   ========================================================================== */
system-font-list {
  font-family: "concourse-t3";
  display: block;
  font-size: 90%;
  margin-left: 2.5rem;
}

system-font-items{
  display: block;
  -webkit-column-count: 2;
     -moz-column-count: 2;
      -ms-column-count: 2;
       -o-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
      -ms-column-gap: 2.5rem;
       -o-column-gap: 2.5rem;
          column-gap: 2.5rem;

}

system-font-list em {
  font-style: normal;
  font-weight: bolder;
}


/* ==========================================================================
   Table of contents
   ========================================================================== */
toc-topic {
  display: block;
  font-family: "concourse-c4";
  text-transform: lowercase;
  -webkit-font-feature-settings: 'c2sc' 1;
     -moz-font-feature-settings: 'c2sc' 1;
      -ms-font-feature-settings: 'c2sc' 1;
       -o-font-feature-settings: 'c2sc' 1;
          font-feature-settings: 'c2sc' 1;

  font-size: 135%;
  line-height: 1.20;
  margin-top: 1.5rem;
  margin-bottom: 0.0rem;
  border-top: 0px solid #ccc;
}

ul.toc {
  -webkit-column-count: 2;
     -moz-column-count: 2;
      -ms-column-count: 2;
       -o-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
      -ms-column-gap: 2em;
       -o-column-gap: 2em;
          column-gap: 2em;

  font-size: 110%;
  margin-left: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

ul.toc li {
  font-family: "equity-text";
  margin: 0;
  padding: 0;
  margin-bottom: 0.6em;
  line-height: 1.15;
  list-style-type: none;
}

.toc:before {
  content: none;
}

a#toc-marker:before {
  content: none;
}


/* ==========================================================================
   Footer
   ========================================================================== */
#site-footer {
  position: fixed;
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  right: 2.5rem;
}
